<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="CognitiveServices">
            <section name="Microsoft" type="System.Configuration.NameValueSectionHandler"/>
            <section name="Google" type="System.Configuration.NameValueSectionHandler"/>
            <section name="Amazon" type="System.Configuration.NameValueSectionHandler"/>
        </sectionGroup>
    </configSections>
    
    <CognitiveServices>
        <Microsoft>
            <add key="speech" value="123,222"/>
            <add key="face" value="123"/>
        </Microsoft>
        <Google>
            <add key="speech" value="123"/>
            <add key="face" value="123"/>
        </Google>
        <Amazon>
            <add key="speech" value="123"/>
            <add key="face" value="123"/>
        </Amazon>
    </CognitiveServices>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
